body{
	margin: o;
	font-family: Nunito, sans-serif;
	font-weight: normal;
	font-style: normal;
}

#one-page-bg{
	width: 370px;
	height: 800px;
	background-color: #F9BDBD;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	border-bottom-left-radius: 100px;
}

.flower{
	position: absolute;
	top: 340px;
	right: 350px;
	z-index: -1;
}

section{
	width: 1152px;
	margin: 0 auto;
	height: auto;
	/*border: 2px solid green;*/
}

.section-about{
	height: 950px;
}

.section-hot{
	height: 500px;
}

.section-categories{
	height: 1100px;
}

.section-testimony{
	height: 550px;
}

footer{
	width: 1152px;
	margin: 0 auto;
	height: 456px;
	/*border: 2px solid green;*/
}

.bg-container{
	background-image: url(Images/img-ft-left.png);
	width: 644px;
	height: 455px;
}

		/*ONE-PAGE*/		

/*Header*/
.header-content{
	display: grid;
	grid-template-columns: 1fr 2fr;
	position: relative;
	/*border: 1px solid red;*/
}

#bg-flower{
	width: 370px;
	height: 730px;
	background-color: #F9BDBD;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	border-bottom-left-radius: 100px;
}

#flower{
	width: 382px;
	height: 382px;
	left: 660px;
	top: 400px;
}

#img-content{
	margin-top: 109px;
}

.header-logo{
	margin: 20px 95px 0 60px;

}

.bar-nav{
	display: grid;
	grid-template-columns: repeat(6, 130px);
	margin: -35px 95px 0 300px;
	list-style: none;
	/*border: 1px solid red;*/
}

header nav ul li a{
	text-decoration: none;
	color: rgba(34, 34, 34, 0.75);
	font-size: 16px;
}

.nav-bt-active{
	color: #DAA520;
	font-weight: bold;
}

.nav-bt_1:hover{
	color: #DAA520;
}

.sign-up-buttom{
	border: 1px solid #3E3F43;
	border-radius: 8px;
	padding: 5px 25px;
	text-transform: uppercase;
	font-weight: bold;
}

/*Main*/
main#content{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.main-container{
	margin-left: 105px;
	margin-top: 160px;
}

main p{
	font-size: 36px;
	line-height: 49px;
	margin-bottom: 16px;
}

main div#text-subtitle{
	font-size: 72px;
	font-weight: bold;
	line-height: 98px;
	margin-bottom: 16px;
	color: #313235;
}

.button{
	width: 175px;
	background: #DAA520;
	line-height: 22px;
	padding: 14px 24px;
	border-radius: 4px;
	text-decoration: none;
	color: black;
}

		/*ABOUT*/		
/*header*/

.header-about{
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
	/*border:1px solid red;*/
}

.about-logo{
	margin: 35px 0 0 100px;
}

.about-title{
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin: 25px 14px 0 9px; 
}

.about-line{
	border: 1px solid #000000;
	width: 316px;
	height: 0px;
	margin-top: 50px;
}

.about-title2{
	font-size: 72px;
	line-height: 98px;
	color: rgba(34, 34, 34, 0.1);
	font-weight: 800;
}

/*Main*/
.about-content{
	display: grid;
	grid-template-columns: repeat(2, auto);
	margin:0px 80px 0 100px;
	width: 1050px;
	/*border:1px solid red;*/
}

.about-content2{
	display: grid;
	grid-template-columns: repeat(2, auto);
	margin-top: 0 80px 0 100px;
}

.text-about1{
	margin-left: 120px;
	margin-top: 140px;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	color: #3E3F43;
}

div#text-about2{
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: #000000
}

.text-about3{
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	margin-left: 100px;
	margin-top: 140px;
	color: #000000;
}

div#text-about4{
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
}


		/*HOT IT WORKS*//		
/*Header*/
.section-hot{
	display: grid;
	grid-template-columns: auto
}

.header-work{
	display: grid;
	grid-template-columns: repeat(4, auto);
	/*border: 1px solid red;*/
}

.hot-logo{
	margin: 35px 0 0 100px;
}

.hot-title{
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin: 25px 14px 0 9px; 
}

.hot-line{
	border: 1px solid #000000;
	width: 200px;
	height: 0px;
	margin-top: 50px;
}

.hot-title2{
	font-size: 72px;
	line-height: 98px;
	color: rgba(34, 34, 34, 0.1);
	font-weight: 800;
}



		/*Main*/		

.container-hot{
	display: grid;
	grid-template-columns: repeat(8, auto);
	/*border: 1px solid red;*/
}

#number{
	font-weight: 600;
	font-size: 96px;
	line-height: 131px;
	padding-top: 30px;
	padding-left: 110px;
	color: rgba(249, 189, 189, 0.25);
}

.img-1{
	padding: 25px 0;
}

.img-2{
	padding: 25px 0;
}

.img-3{
	padding: 25px 0;
}

.img-4{
	padding: 25px 0;
}

.button-hot{
	width: 175px;
	background: #DAA520;
	line-height: 22px;
	padding: 14px 14px;
	border-radius: 4px;
	margin: 30px auto 50px auto;
}

.button-hot a{
	text-decoration: none;
	color: white;
	align-content: center;
}





		/*SECTION-CATEGORIES*/		
.container-categories-1{
	display: grid;
	grid-template-columns: repeat(3, auto);
}

.container-categories-2{
	display: grid;
	grid-template-columns: repeat(2, auto);
}

/*Header*/
.header-categories{
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
	/*border:1px solid red;*/
}

.categories-logo{
	margin: 35px 0 0 100px;
}

.categories-title{
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin: 25px 14px 0 9px; 
}

.categories-line{
	border: 1px solid #000000;
	width: 200px;
	height: 0px;
	margin-top: 50px;
}

.categories-title2{
	font-size: 72px;
	line-height: 98px;
	color: rgba(34, 34, 34, 0.1);
	font-weight: 800;
}

/*Main*/

	/*1*/		

.container-categories-1{
	display: inline-grid;
	grid-template-columns: repeat(3, 350px);
	grid-grap: 10px;
	padding-left: 80px;
	/*border: 1px solid red;*/
}

.container-categories-2{
	display: grid;
	grid-template-columns: repeat(2, 350px);
	grid-grap: 10px;
	padding-left: 80px;
}

.img-bg-1{
	width: 280px;
	height: 400px;
	left: 0px;
	top: 0px;
	z-index: -1;
	background: #F9BDBD;
	border-bottom-left-radius: 100px;
	border-top-right-radius: 100px;
}

#img-1{
	padding: 30px 0px;
}

#text-top{
	font-weight: 800;
	font-size: 24px;
	line-height: 33px;
}

#bt-categories{
	width: 140px;
	border: 1px solid black;
	line-height: 30px;
	padding: 12px 12px;
	border-radius: 4px;
	text-decoration: none;
	color: black;
	margin-left: 170px;
}

		/*2*/		
.img-bg-2{
	width: 280px;
	height: 400px;
	left: 0px;
	top: 0px;
	z-index: -1;
	background: #F7DEA6;
	border-bottom-left-radius: 100px;
	border-top-right-radius: 100px;
}

#img-2{
	padding: 25px 70px;
}


		/*3*/		
.img-bg-3{
	width: 280px;
	height: 400px;
	left: 0px;
	top: 0px;
	z-index: -1;
	background: #A8DCEC;
	border-bottom-left-radius: 100px;
	border-top-right-radius: 100px;
}

#img-3{
	padding: 43px 55px;
}


		/*4*/		
.img-bg-4{
	width: 280px;
	height: 400px;
	left: 0px;
	top: 0px;
	z-index: -1;
	background: #F9BDBD;
	border-bottom-left-radius: 100px;
	border-top-right-radius: 100px;
}

#img-4{
	padding: 25px 40px;
}

		/*5*/		
.img-bg-5{
	width: 280px;
	height: 400px;
	left: 0px;
	top: 0px;
	z-index: -1;
	background: #F7DEA6;
	border-bottom-left-radius: 100px;
	border-top-right-radius: 100px;
}

#img-5{
	padding: 70px 20px;
}

		/*SECTION-TESTIMONY*/		

.container-testimony{
	display: grid;
	grid-template-columns: repeat(3, auto);
	/*border: 1px solid red;*/
}

/*Header*/
.header-testimony{
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
	/*border:1px solid red;*/
}

.testimony-logo{
	margin: 35px 0 0 100px;
}

.testimony-title{
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin: 25px 14px 0 9px; 
}

.testimony-line{
	border: 1px solid #000000;
	width: 200px;
	height: 0px;
	margin-top: 50px;
}

.testimony-title2{
	font-size: 72px;
	line-height: 98px;
	color: rgba(34, 34, 34, 0.1);
	font-weight: 800;
}

		/*Main*/		
#img-testimony{
	width: 240px;
	height: 320px;
	box-sizing: border-box;
	border-radius: 25% 0 25%;
}

.container-commit{
	width: 394px;
	height: 280px;
	border: 2px solid #A8DCEC;
	box-sizing: content-box;
	border-radius: 0 25% 0;
}

#stars{
	padding: 40px 200px 10px 10px;
}

#text-commit{
	padding: 0 10px 20px 10px;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #3E3F43;
}

#img-user{
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border-radius: 50% 50% 50% 50%;
	margin: 10px;
}

#text-name{
	margin: -50px 10px 0px 60px;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #AFAFAF;
}

#prev{
	padding: 80px 30px 0 0;
}

#next{
		padding: 80px 0 0 190px;
}

#bar{
	padding: 30px 20px 20px 160px;
}


		/*FOOTER*/		
/*Top*/

.container-footer-top{
	display: inline-grid;
	grid-template-columns: repeat(2, auto);
	/*border: 1px solid red;*/
}

.footer-top{
	display: grid;
	grid-template-columns: repeat(1, auto);
}

.text-ft-1{
	margin-left: 70px;
	margin-top: 50px;
	font-size: 18px;
	font-weight: bold;
}

.text-ft-2{
	margin-left: 70px;
	font-size: 18px;
	width: 510px;
}

.bt-container{
	display: grid;
	grid-template-columns: repeat(2, auto);
	padding: 65px 0 20px 20px;
}

.bt-email{
	background: #FFFFFF;
	border: 1px solid #DAA520;
	box-sizing: border-box;
	border-radius: 4px;
	width: 355px;
	height: 40px;
}

.bt-footer{
	background: #DAA520;
	border-radius: 4px;
	width: 120px;
	height: 40px;
}

#text-in-box1{
	margin-left: 20px;
	margin-top: 8px;
}

#text-in-box2{
	margin-left: 28px;
	margin-top: 8px;
}

		/*FOOTER-BUTTOM*/		
.container-footer-buttom{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-top: 16px;

}

.line-footer{
	width: 760px;
	height: 0px;
	border: 1px solid #C4C4C4;
	margin: 100px 0 0 70px;
}

footer ul{
	margin-left: 30px;
	list-style: none;
}

.footer-ul-1 li a{
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #8D8D8D;
}

#word-1{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}

.footer-ul-2 li a{
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #8D8D8D;
}

#word-2{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}

.footer-ul-3 li a{
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #8D8D8D;
}

#word-4{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}

.footer-ul-4 li a{
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #8D8D8D;
}

#word-5{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}

.footer-ul-5 li a{
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #8D8D8D;
}

#word-5{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}